html {
    --main-color : #0c1252;
    --second-color: white; 
    --third-color: #a0138e;
}
  


body{

    font-family: "FrankRuhlLibre",sans-serif; 
}

/*-------------Header-------*/ 

.contain-second{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .contain-second h1 a{
    text-decoration: none;
    list-style: none;
    color: black;
    transition: 0.2s;
  }
  
  .contain-second h1 a:hover{
    
    color: grey;
  }
  
  .contain-second ul{
    display: flex; 
    justify-content: space-between;
    gap: 30px; 
    list-style: none;
  }
  
  .contain-second ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  
  .has-sub-menu .sous-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    background: grey;
    padding: 20px;
  }
  .has-sub-menu.sous-menu li{
    border-bottom: solid  black;
  }
  
  .has-sub-menu:hover .sous-menu{
    visibility: visible;
    opacity: 1;
    transition: opacity .005s,visibility 0s 0s;
  }

/*-------------Fin-Header-------*/ 


/*---------------Section new collection----------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  box-sizing: border-box;
  padding: 0;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}







/*---------------Section Deal----------------*/




.deal {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto; 
    max-width: 1500px;
    background-color: var(--main-color);
    border-radius: 10px; 
    flex-direction: column;
}

.deal .deal-l{
    padding: 10px 80px 80px 80px;

}

.deal .deal-l h1{
    font-size: 50px;
    color: var(--second-color)
    
}

.deal .deal-l p{
    font-size: 35px;
    color : var(--second-color);
    
}

.deal .deal-l .time{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;

}

.deal .deal-l .time-case{
    width : 350px; 
    height : 200px; 
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
    background-color: var(--second-color);
    font-weight: 600;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    box-shadow: 5px 5px 10px #a0138e;
    
}
.deal .deal-l .time-case span{
    font-size: 30;
}

.deal .deal-l .bouton{
    padding: 20px 50px; 
    background-color: var(--third-color);
    color : var(--second-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px; 

}



.deal .deal-l .bouton::after{
    padding: 20px 50px; 
    background-color: var(--main-color);
    color : var(--second-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 0 rgba(255, 255, 255, 1);
    animation: pulsing 1.4s linear infinite;
}

.deal .deal-r .img img{
    margin-bottom: 30px;
    border-radius: 20px;
}


/*---------------Section société----------------*/
.societe {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.societe .imgl img{
    border-radius: 80px;
    width: 100%;
}
.societe .imgl{
   padding: 20px;
}



.societe .text-r h1{
   font-size: 60px;
}

.societe .text-r{
    padding: 20px; 
    width: 100%;
    text-align: center;
}



.societe .bottom{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.societe .bottom .infos{
    width: 200px;
    height: 110px;
    background-color: var(--second-color);
    text-align: center;
    border-radius: 20px;
    border: 1px solid;
}

.societe .text-r .carre{
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    position: relative;
    
}




.bouton-style{
    text-align: center;
    padding-top: 25px
}

  .animated-link {
    --font-size: 36px;
    font-size: var(--font-size);
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
    
  }
  .animated-link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
    border-radius: calc(var(--font-size));
    background-color: var(--third-color);
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    transition: width 0.6s cubic-bezier(.8,0,.24,.99);
  }
  
  .animated-link:hover::before {
    width: calc(100% + 20%); 
    /* + 2x le décaalge*/
  }
  




/*------------------------------------------Footer--------------------------------------*/

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);

}
footer .cont-img img{
    width : 381px; 
    height: 381px;
}

 .photo1  {
    background-image: url(assets/photo-footer4.png);

}

 .photo2  {
    background-image: url(assets/photo-footer2.png);

}

.photo3  {
    background-image: url(assets/photo-footer3.png);

}

.photo4 {
    background-image: url(assets/photo-footer1.png);

}

footer .top{
    display: flex;
}


footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .bottom .logo{
    font-size: 70px;
    font-weight: 600;
    color: var(--second-color);
    padding: 0 100px;
    text-align: center;

}

footer .bottom .menu ul a{
    list-style: none;
    text-decoration: none;
    color: var(--second-color);
    font-weight: 700;
    padding-right: 100px;
}




footer .rights{
    text-align: center;
    color: var(--second-color);

}

footer .insta
{
    position: relative;
    background-color: var(--second-color);
    width: 400px;
    text-align: center;
    bottom: 235px;
    left: 780px;
}

footer .insta a p{
    text-decoration: none;
    color : black; 

}
footer .insta span{
    font-weight: 600;
}




/***********************************media queries**********************************/






@media screen and (max-width: 700px){

    nav .menu{
        display: none;
    }
    header{
        padding: 20px 20px 50px 20px;
        height: 65%;
    }

    
    header .h-l {
        width: 100%;
    
    }
    header .h-l h1{
        font-size: 50px;
       
    }
    
    header .h-r .img{
      display: none;
    }
      
    .deal{
        flex-wrap: wrap;
    }
    .deal .deal-l{
        width: 100%;
        padding:0;
    }

     .deal .deal-l .time .time-case{
        margin: auto;
        margin-bottom: 10px;
     }

    .deal-l{
        padding: 0;
    }

    .deal .deal-r .img img {
        width: 100%
    }

    .societe{
        flex-wrap: wrap;
    }





    footer .bottom .logo{
        padding: 0px;
        text-align: center;
    
    }
    .menu ul {
        display: flex; 

    }
    footer .bottom .menu ul a {
        padding-right: 10px;
        text-align: center;
      }
   
}

@media screen and (max-width: 1200px) and (min-width: 700px){


    header{
        padding: 0;
    }
    header .h-l {
        width: 100%;
        padding: 20px; 
    }
   .societe {
        display: flex; 
        flex-direction: column;
        
    }
   .societe .bottom{
    width: 100%
    }






}