@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#masthead .site-logo-img .custom-logo-link img {
    max-width: 300px;
    margin-left: 70px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


:root {
 
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);


  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}



html {
    --main-color : #0c1252;
    --second-color: white; 
    --third-color: #16b7cc;
}
  


body{

    font-family: "FrankRuhlLibre",sans-serif; 
}

.text-r div p{
	margin-bottom: 0;
	text-align: justify;
}

p{
	margin-bottom: 0;
}

/*-------------header-------*/ 

.ast-primary-header-bar {
    display: block;
    position: fixed;
    width: 100%;
		background-color: #ffffff00;
    background-image: none;
		border: none; 
	
}

.main-header-bar {
    padding: 0em 0;
}

#primary-site-navigation a {
    color: var(--second-color); 
		font-size: 20px; 
}





/*-------------FIN-header-------*/ 


/*-------------Slider-------*/ 


.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single{
	padding: 0;
}

.ast-container, .ast-container-fluid{
	padding-left: 0px;
  padding-right: 0px;
}


/*-------------Fin-Slider-------*/ 


/*---------------Section new collection----------------*/

.new-col h1{
	text-align: center; 
	margin-top: 30px
}

.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  box-sizing: border-box;
  padding: 0;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}


.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}






/*---------------Fin-Section new collection----------------*/



/*---------------Section société----------------*/

.societe{
	margin: 20px
}

.societe h1{
    text-align:center;
}

.entry-content h2{
	margin-bottom: 0;
}

.societe div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.societe .imgl img{
    border-radius: 30px;
    width: 100%;
}
.societe .imgl{
   display: flex; 
	flex-direction:column; 
	
}

.societe .imgl img{
   width: 300px; 
}

.societe .text-r{
  display: flex; 
	flex-direction: column;
}


.societe .bottom{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.societe .bottom .infos{
    width: 200px;
    height: 110px;
    background-color: var(--second-color);
    text-align: center!important;
    border-radius: 20px;
    box-shadow: 1px 1px 5px var(--main-color);
	transition: .3s; 
	display: flex; 
	flex-direction: column; 
}
.societe .bottom .infos p{
  
    text-align: center!important;
    
}
.societe .bottom .infos:hover{
    box-shadow: 1px 1px 2px var(--third-color);
}

.societe .text-r .carre{
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    position: relative;
    
}


/*---------------FIN-Section société----------------*/

/*---------------Section Deal----------------*/



.deal {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto; 
    max-width: 1500px;
    background-color: var(--main-color);
    border-radius: 10px; 
    flex-direction: column;
	  box-shadow: 2px 2px 10px black;
}

.deal .deal-l{
    padding: 40px;

}

.deal .deal-l h1{
    font-size: 50px;
    color: var(--second-color)
    
}

.deal .deal-l p{
    font-size: 35px;
    color : var(--second-color);
    
}

.deal .deal-l .time{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;

}

.deal .deal-l .time-case{
    width : 350px; 
    height : 250px; 
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
    background-color: var(--second-color);
    font-weight: 600;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
	transition: .1s;
	border-bottom: 10px solid var(--third-color);
    
}
.deal .deal-l .time-case:hover{
    color: var(--second-color);
    background-color: var(--third-color);
		box-shadow: 2px 2px 10px var(--second-color);
	border-bottom: 10px solid black;
}

.deal .deal-l .time-case span{
    font-size: 30;
}

.deal .deal-l .bouton{
    padding: 20px 50px; 
    background-color: var(--third-color);
    color : var(--second-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px; 
	transition: .3s

}

.deal .deal-l .bouton:hover{
    padding: 20px 50px; 
    background-color: var(--second-color);
    color : var(--third-color);
}

.deal .fa-solid {
	background-color: var(--third-color);
  border-radius: 500px;
  padding: 20px;
	color: var(--second-color);
}
.time-case:hover .fa-solid{
	color: var(--third-color);
	background-color: var(--second-color);
}


.deal .deal-r .img img{
    margin-bottom: 30px;
    border-radius: 20px;
}
.time a {
	text-decoration:none;
}


/*---------------Fin-Section Deal----------------*/

/*---------------Bouton----------------*/


.bouton-style{
    text-align: center;
    padding-top: 25px
}

  .animated-link {
    --font-size: 36px;
    font-size: var(--font-size);
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
    
  }
	  .animated-link:hover {
    color: var(--second-color);
  
    
  }

  .animated-link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
    border-radius: calc(var(--font-size));
    background-color: var(--third-color);
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    transition: width 0.6s cubic-bezier(.8,0,.24,.99);
  }
  
  .animated-link:hover::before {
    width: calc(100% + 20%); 
    /* + 2x le décaalge*/
  }


  


/**********Contact*********/

#wpforms-24863{
	max-width: 600px; 
	margin: auto; 
	margin-top: 20px; 
	margin-bottom: 20px
	
}
#wpforms-24863 input{
	background-color: transparent; 
	border: none;
	border-bottom: 2px solid black
	
}

#wpforms-24863 textarea{
	background-color: transparent; 
	border: none;
	border-bottom: 2px solid black
	
}
#wpforms-24863 button{ 
	padding: 20px 50px;
  background-color: var(--third-color);
  color: var(--second-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  transition: .3s;
	
}
#wpforms-24863 button:hover{ 
  background-color: var(--second-color);
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

.wpforms-submit-container{
	text-align: center;
}




/* ---------Card animation--------  */

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}





/***********************************media queries**********************************/




@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}


@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}



@media screen and (max-width: 700px){

    nav .menu{
        display: none;
    }
    header{
        padding: 20px 20px 50px 20px;
        height: 65%;
    }

    
    header .h-l {
        width: 100%;
    
    }
    header .h-l h1{
        font-size: 50px;
       
    }
    
    header .h-r .img{
      display: none;
    }
      
    .deal{
        flex-wrap: wrap;
    }
    .deal .deal-l{
        width: 100%;
        padding:0;
    }

     .deal .deal-l .time .time-case{
        margin: auto;
        margin-bottom: 10px;
     }

    .deal-l{
        padding: 0;
    }

    .deal .deal-r .img img {
        width: 100%
    }
		.societe div{
		flex-direction: column; 
			padding: 10px
		}
	.time a {
	width:100%;
}




    footer .bottom .logo{
        padding: 0px;
        text-align: center;
    
    }
    .menu ul {
        display: flex; 

    }
    footer .bottom .menu ul a {
        padding-right: 10px;
        text-align: center;
      }
   
}

@media screen and (max-width: 1200px) and (min-width: 700px){


    header{
        padding: 0;
    }
    header .h-l {
        width: 100%;
        padding: 20px; 
    }
   .societe {
        display: flex; 
        flex-direction: column;
        
    }
   .societe .bottom{
    width: 100%;
			flex-wrap: wrap;
    }

}

@media (min-width: 922px) {
  .ast-container {
    max-width: none;
  }
}

@media (min-width: 993px) {
  .ast-separate-container #primary, .ast-separate-container.ast-left-sidebar #primary, .ast-separate-container.ast-right-sidebar #primary {
    margin: 0;
  }
}


@media screen and (min-width: 1120px) {
	
	  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
	
  .container {
    height: 50vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
	
}

@media screen and (max-width: 1120px) {
	
	 .societe h1{
		margin-top: 20px
	}
	
}

